.container-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.container-grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}
