.login {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .link {
    margin: 0 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .float-label-container {
    margin-bottom: 2rem;
  }
}

.login-widget {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: $white;
  @include tablet {
    padding: 2.5rem 3rem;
  }
}

.login-logo-container {
  width: 100%;
  text-align: center;
}

.login-logo {
  margin: 2rem 1rem;
  font-size: 24px;
}

.login-utilities {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
