@media all and (min-width: 37.5rem) {
  .dash-container-2 {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    grid-template-columns: repeat(2, minmax(0, 600px));
    grid-column-gap: 1.5rem;
    grid-row-gap: .5rem;
  }

  .dash-2-left-section,
  .dash-2-right-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .dash-container-2-1 {
    display: grid;
    align-items: flex-start;
    padding: 0 1rem;
    grid-template-columns: minmax(500px, 800px) 400px;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
  }

  .dash-page-header {
    grid-column: span 2;
  }
}
